.landing-page {
	max-width: none;
	padding-top: 5em;
	display: flex;
	background-color: black;
	justify-content: center;
	align-items: center;
	color: white;
	height: 100vh;
}

.landing-container {
	margin-bottom: 10em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.landing-heading {
	font-size: clamp(45px, 5vw, 90px);
}

.landing-paragraph {
	font-size: clamp(22px, 5vw, 40px);
}

.macbook-img {
	width: 70em;
}

@media (max-width: 1130px) {
	.macbook-img {
		width: 100vw;
	}
}

@media (max-width: 560px) {
	.landing-content {
		padding: 2em 1em;
	}

	.landing-heading {
		text-align: center;
	}
	.landing-paragraph {
		width: 100%;
	}
}
