header {
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	height: 3em;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	/* max-width: 1700px; */
	background-color: black;
	z-index: 15;
}

nav {
	margin-right: 0.5em;
}

nav a {
	text-decoration: none;
	padding: 0 1em;
}

@media (max-width: 450px) {
}
