* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font-family: 'Roboto';
	padding-top: 3em;
	max-width: 1700px;
	margin: 0 auto;
}

html {
	scroll-behavior: smooth;
}

header {
	margin: 0 auto;
}
